/* font family  */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@1,700&family=Libre+Franklin&family=Ubuntu+Mono:wght@700&display=swap");

/* ends */
:root {
  --fontmain: "Ubuntu Mono";
  --fontmini: "Libre Franklin";
  --fontlast: "Cormorant Infant";
}
* {
  padding: 0;
  margin: 0;
}
body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* section1  begins here*/
.section1 {
  height: 100vh;
  width: 100vw;
  background: #614385; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #516395,
    #614385
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #516395,
    #614385
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.section1-wrapper {
  width: 100%;
  /* background: inherit; */
  height: 100%;
  display: flex;
  flex: column;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.logo {
  position: fixed;
  width: 500px;
  height: 250px;
  top: -40px;
  left: -50px;
  z-index: 100;
  object-fit: contain;
  object-position: center;
  background-image: url("../images/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.head {
  text-align: left;
  margin-bottom: 30px;
}
.head span {
  color: #161116;
}
.toggle {
  position: fixed;
  right: 30px;
  z-index: 20;
  top: 20px;
}
.text-body h5 {
  color: #fff;
}
.toggle .fa {
  font-size: 2rem;
  color: #fff;
}

.head h1 {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 900;
  font-family: var(--fontmain);
  color: #fff;
}
.text-body {
  color: #fff;
  font-size: 20px;
  font-family: var(--fontlast);
  font-weight: 600;
}
.section1-division2 {
  /* background-color: aliceblue; */
  width: 500px;
}
.section1-division1 {
  object-fit: contain;
  object-position: center;
  width: 400px;
  /* height: 400px; */
}
.section1-division1 img {
  width: 500px;
  height: 70vh;
}
.button-cover button:last-child {
  background-color: transparent;
  border: 1px solid;
  color: #fff;
}
.button-cover {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
}
.button-cover button {
  padding: 10px 40px;
  border: 0.2px transparent;
  border-radius: 5px;
  background-color: #e9b3cd;
  color: rgb(0, 0, 0.9);
  font-weight: 700;
  font-size: 1.2rem;
  font-family: var(--fontmini);
}
.sideicon {
  display: grid;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 25%;
  transform: translate(-50, -50);
  width: 50px;
  font-size: 35px;
  background-color: rgba(255, 255, 255, 0.1);
}
.sideicon .fa {
  /* margin-bottom: 20px; */
}
.sideicon .fa:first-child {
  background-color: rgb(18, 18, 175);
  width: 50px;
  color: white;
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sideicon .fa:nth-child(2) {
  background-color: #00acee;
  width: 50px;
  color: white;
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sideicon .fa:nth-child(3) {
  background-color: #171515;
  width: 50px;
  color: white;
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sideicon .fa:nth-child(4) {
  background-color: #bc2a8d;
  width: 50px;
  color: white;
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sideicon .fa:nth-child(5) {
  background-color: #8c929d;
  width: 50px;
  color: white;
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section1-wrapper::after {
  content: "";
  width: 300px;
  height: 300px;
  border-radius: 40%;
  background: #00acee;
  position: fixed;
  top: -150px;
  right: -150px;
}
/* ends */
/* media queries for all web objects */

/*  screen  < 400  */
@media screen and(max-width:600px) {
  .section1 {
    height: 100%;
  }
  .section1-division1 {
    height: 400px;
    width: 100%;
  }
}
/* ends */

/*  screen  < 900  */
@media screen and (max-width: 900px) {
  .section1-wrapper {
    height: 100%;
  }
}

/* ends */
